<!DOCTYPE html>
<html lang="en">
<head>
<title>Resume</title>
</head>
<body>
    <h1>Resume</h1>
    <form action="/login" method="POST">
       <p> <b>Name:</b><input type="text" name="nm"/> </p>
       <p> <b>Age:</b><input type="number" name="age1" /> </p>
       <p> <b>Highest Qualification:</b><input type="text" name="quali"/> </p>
       <p> <b>College Name:</b><input type="text" name="clg" /></p>
       <p> <b>Permanent Address:</b><textarea type="text" name="adres"> </textarea></p>
       <p> <b>Technical Skills:</b><textarea type="text" name="skill" ></textarea></p>
       <p> <b>Soft Skills:</b><textarea type="text" name="sskill" ></textarea></p>
       <p> <b>Email:</b><input type="email" name="mail" /></p>
       <p> <b><input type="submit" value="submit"/></p>
    </form>
<p>{{a}}</p>    
<p>{{b}}</p>
<p>{{c}}</p>
<p>{{d}}</p>
<p>{{e}}</p>
<p>{{f}}</p>
<p>{{g}}</p>
<p>{{h}}</p>
<form action="/upload" method="post" enctype="multipart/form-data">
    <p>Upload Your Resume</p>
    <p><input type="file" name="file"></p>
    <input type="submit">
</form>    
</form>
</body>
</html>